Repository rmmenezes/PI-ReservaSalas, pull requests merged in 2018-10, with the labels that each got.

#52 listar usuários por nome
  reserva-sala-back/package-lock.json
  reserva-sala-back/package.json
  reserva-sala-back/src/app.js
  reserva-sala-back/src/config.js
  reserva-sala-back/src/controlers/Controller-Usuarios.js
  reserva-sala-back/src/routes/Routes-Usuarios.js
Labels: Back-End

#53 Excluir usuario front, back #25 #26
  reserva-salas-front/src/components/Dashboard.vue
  reserva-salas-front/src/components/Login.vue
  reserva-salas-front/src/components/SearchUsers.vue
  reserva-salas-front/src/services/Users.js
Labels: Back-End, Front-End

#54 edicao de usuario concluida #23 #24
  reserva-sala-back/package-lock.json
  reserva-sala-back/src/config.js
  reserva-sala-back/src/controlers/Controller-Usuarios.js
  reserva-sala-back/src/routes/Routes-Usuarios.js
  reserva-salas-front/package-lock.json
  reserva-salas-front/src/components/SearchUsers.vue
  reserva-salas-front/src/services/Users.js
Labels: Back-End, Front-End

#58 front editar e excluir recursos. closes #29 #30 #32
  reserva-sala-back/package-lock.json
  reserva-salas-front/src/components/Login.vue
  reserva-salas-front/src/components/ReserveResources.vue
  reserva-salas-front/src/components/SearchResources.vue
  reserva-salas-front/src/components/SearchUsers.vue
  reserva-salas-front/src/services/Resources.js
Labels: Back-End, Front-End

#59 Funcionalidades iniciais de reservas de recursos
  reserva-salas-front/src/components/Dashboard.vue
  reserva-salas-front/src/components/ReserveResources.vue
Labels: Front-End
